@import url(https://fonts.googleapis.com/css?family=Montserrat);
.ga-header{
	position: absolute;
	height: 60%;
	width: 100%;
	background: linear-gradient(90deg,#4776E6,#8E54E9);
	
}
.lt{
	color:#888888;
}
.ga-title{
	font-family: montserrat;
	font-size: 30px;	
	font-weight: bold;
	color:#FF416C;
}
.ga-text{
	font-family: montserrat;
	font-size: 19px;
	color:#4776E6;	
}
.ga-line{
	margin-top: 1%;
	padding-top:0.3%;
	padding-bottom:0.3%;
	border-radius: 30px;
	width: 24%;
	margin-left: 38%;

	color:#fff;
	justify-content: center;
	align-items: center;
	background: #7AA1D2;
}
.ga-img{
	width: 100%;
}
.ga-form{
	margin-top:6%;
}
.ga-input{
	width: 80%;
	border-radius: 30px;
	border-style: solid;
	padding : 12px 7px 12px 20px;
	border-color: rgb(255,240,245);
	background-color: #e6e6e6;
}
.ga-input-login{
	width: 80%;
	border-radius: 30px;
	border-style: solid;
	padding : 12px 7px 12px 20px;
	border-color: rgb(255,240,245);
	background-color: #e6e6e6;
}
.classic-light{
	width: 100%;
	border-style: none;
	background:linear-gradient(90deg,#7F7FD5,#86A8E7);
	padding: 12px 12px;
	font-family: montserrat;
	font-size: 20px;
	border-radius: 12px;
	font-weight: bold;
	box-shadow: 0px 12px 24px rgb(127, 127, 213); 
	color:#fff;
	transition: 0.7s;
}
.classic-light:hover{
	-webkit-transform:scale(1.1);

}
.classic-light-s{
	width: 30%;
	border-style: none;
	background:linear-gradient(90deg,#7F7FD5,#86A8E7);
	padding: 12px 12px;
	font-family: montserrat;
	font-size: 20px;
	border-radius: 12px;
	font-weight: bold;
	box-shadow: 0px 12px 24px rgb(127, 127, 213); 
	color:#fff;
	transition: 0.7s;
}
.classic-light-s:hover{
	-webkit-transform:scale(1.1);

}
.classic-orange{
	width: 100%;
	border-style: none;
	background:linear-gradient(90deg,#ffe259,#ffa751);
	padding: 12px 12px;
	font-family: montserrat;
	font-size: 20px;
	border-radius: 12px;
	font-weight: bold;
	box-shadow: 0px 12px 24px rgb(127, 127, 213); 
	color:#fff;
	transition: 0.7s;
}
.classic-orange:hover{
	-webkit-transform:scale(1.1);

}
.classic-orange{
	width: 100%;
	border-style: none;
	background:linear-gradient(90deg,#ffe259,#ffa751);
	padding: 12px 12px;
	font-family: montserrat;
	font-size: 20px;
	border-radius: 12px;
	font-weight: bold;
	box-shadow: 0px 12px 24px rgb(127, 127, 213); 
	color:#fff;
	transition: 0.7s;
}
.classic-orange:hover{
	-webkit-transform:scale(1.1);

}
.classic-red{
	width: 80%;
	border-style: none;
	background:linear-gradient(90deg,#FF416C,#FF4B2B);
	padding: 9px 9px;
	font-family: montserrat;
	font-size: 20px;
	border-radius: 33px;
	font-weight: bold;
	box-shadow: 0px 0px 10px rgb(255, 73, 56);
	color:#fff;
	transition: 0.7s;
}

.classic-red:hover{
	-webkit-transform:scale(1.1);

}
.classic-red-register{
	width: 170%;
	border-style: none;
	background:linear-gradient(90deg,#FF416C,#FF4B2B);
	padding: 9px 9px;
	font-family: montserrat;
	font-size: 20px;
	border-radius: 33px;
	font-weight: bold;
	box-shadow: 0px 0px 24px rgb(255, 73, 56);
	color:#fff;
	transition: 0.7s;
}
.tombol-register{
		display: flex;
	justify-content: flex-start;
}
.classic-red-register:hover{
	-webkit-transform:scale(1.1);

}
.classic-bright{
	width: 100%;
	border-style: none;
	background:linear-gradient(90deg,#ffe259,#ffa751);
	padding: 12px 12px;
	font-family: montserrat;
	font-size: 20px;
	border-radius: 12px;
	font-weight: bold;
	box-shadow: 0px 12px 24px rgb(127, 127, 213); 
	color:#fff;
	transition: 0.7s;
}
.classic-bright:hover{
	-webkit-transform:scale(1.1);

}
.classic-green{
	width: 100%;
	border-style: none;
	background:linear-gradient(90deg,#11998e,#38ef7d);
	padding: 12px 12px;
	font-family: montserrat;
	font-size: 20px;
	border-radius: 12px;
	font-weight: bold;
	box-shadow: 0px 12px 24px rgb(127, 127, 213); 
	color:#fff;
	transition: 0.7s;
}
.classic-green-register:hover{
	-webkit-transform:scale(1.1);

}
.classic-green-register{
	width: 90%;
    border-style: none;
    background: linear-gradient(90deg,#11998e,#38ef7d);
    padding: 9px 9px;
    font-family: montserrat;
    font-size: 20px;
    border-radius: 33px;
    font-weight: bold;
    box-shadow: 0px 0px 24px #38ef7d;
    color: #fff;
    transition: 0.7s;
}
.classic-green-register:hover{
	-webkit-transform:scale(1.1);

}
.classic-light:after{
	width: 100%;
	border-style: solid;
	background:linear-gradient(90deg,#7F7FD5,#86A8E7);
	padding: 12px 12px;
	font-family: montserrat;
	font-size: 20px;
	border-radius: 12px;
	font-weight: bold;
	color:#fff;	
	filter: blur(20px);
}
.classic-light:before{
	width: 100%;
	border-style: solid;
	background:linear-gradient(90deg,#7F7FD5,#86A8E7);
	padding: 12px 12px;
	font-family: montserrat;
	font-size: 20px;
	border-radius: 12px;
	font-weight: bold;
	color:#fff;	
	filter: blur(20px);
}
.text-merah{
	color:#FF416C;
	transition: 0.7s;
}
.ga-input:focus{
  outline: none;
  border-color: transparent !important;
}

.ga-card {
  position: relative;
  margin-top: 2%;
  background-color: #fff;
  width: 100%;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 10px;

  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 18px 24px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px){
	.ga-header{
		position: absolute;
		height: 50%;
		width: 100%;


	}
	.ga-card {
  position: relative;
    margin-top: 20%;
  background-color: #fff;
 padding-bottom:2%;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 10px;

  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 18px 24px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  		.ga-header{
		position: absolute;
		height: 60%;
		width: 100%;


	}
	.ga-card {
  position: relative;
  margin-top: 20%;
  background-color: #fff;
 padding-bottom: 16%;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 10px;

  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 18px 24px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

}
}

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  		.ga-header{
		position: absolute;
		height: 40%;
		width: 100%;


	}
	.ga-card {
  position: relative;
  margin-top: 35%;
  background-color: #fff;
 padding-bottom: 16%;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 10px;

  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 18px 24px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

}
/* Portrait */
@media only screen 
  and (min-width: 768px) 
  and (max-height: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  		.ga-header{
		position: absolute;
		height: 40%;
		width: 100%;


	}
	.ga-card {
  position: relative;
  margin-top: 15%;
  background-color: #fff;
 padding-bottom: 16%;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 10px;

  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 18px 24px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  		.ga-header{
		position: absolute;
		height: 60%;
		width: 100%;


	}
	.ga-card {
  position: relative;
  margin-top: 20%;
  background-color: #fff;
 padding-bottom: 16%;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 10px;

  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 18px 24px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

}

}



