.feature-card-head {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

.feature-card-body {
  text-align: center;
}

.feature-card {
  border-radius: 12px;
  box-shadow: 0px 0px 5px;
  border-left-style: solid;
  border-width: 6px;
  border-left-color: #4272d7;
  background-color: #fff;
  padding-bottom: 0.8em;
}

.feature-card-footer {
  border-radius: 12px;
  width: 100%;
  height: 5%;
  color: red;
  padding: 0.5em;
  text-align: center;
  position: relative;
}

.item-grid {
  padding: 5em 2em;
}

.welcome-content {
  text-align: center;
  padding-top: 2em;
}

.welcome-content-caption {
  font-size: 1.5em;
}

.welcome-content-caption2 {
  font-size: 1em;
}

.btno-square-biru {
  padding: 0.2em 2em;
  background-color: transparent;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #4272d7;
  color: #4272d7;
}

.btno-square-merah {
  padding: 0.2em 2em;
  background-color: transparent;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff4a4a;
  color: #ff4a4a;
}

.btno-rounded-merah {
  padding: 0.2em 2em;
  background-color: transparent;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff4a4a;
  color: #ff4a4a;
}

.btns-square-biru {
  padding: 0.2em 2em;
  background-color: transparent;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #4272d7;
  color: #4272d7;
}

.btns-square-merah {
  padding: 0.2em 2em;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  background-color: #ff4a4a;
  color: #fff !important;
}

.btns-rounded-merah {
  padding: 0.2em 2em;
  background-color: transparent;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  background-color: #ff4a4a;
  color: #fff !important;
}

.btns-rounded-emas {
  padding: 0.4em 2em;
  background-color: transparent;
  border-radius: 20px;
  background-color: #ffc001;
  color: #fff !important;
}

.explore-item-img {
  width: 100%;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  z-index: 45;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
}

.modal-body {
  width: 70%;
  position: absolute;
  padding: 2em;
  border-radius: 12px;
  left: 15%;
  top: 8%;
  color: #000;
  background-color: #fff;
}

.book-category-header {
  padding: 1em;
}

.book-category {
  width: 100%;
  height: 90px;
  padding: 8.5px 2.5px;
  transition: 1s;
}

.book-category-inner {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.44);
}

.book-category-inner img {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  position: absolute;
}

.book-category-title {
  width: 100%;
  padding: 0 1em;
  height: 100%;
  background: linear-gradient(to right, #dc354561, #1422869e);
  position: absolute;
  z-index: 2;
}

.book-category-title-inner {
  font-weight: 400;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  line-height: 31px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.explore-title {
  padding: 1em;
  height: 13vh;
  color: #fff;
  font-style: italic;
  font-weight: 700;
}

.explore-card {
  border-radius: 12px;
  box-shadow: 0px 0px 5px;
  border-left-style: solid;
  border-width: 6px;
  border-left-color: #4272d7;
  background-color: #fff;
  padding-bottom: 0.8em;
  min-height: 20em;
  background-color: #16283a;
  border-left-color: #ffc001;
}

@keyframes ganti {
  0% {
    color: #999;
  }
  100% {
    color: #ffc001;
  }
}
.archive-container {
  bottom: 0;
  right: 10%;
  color: #999;
  font-size: 1.8em;
  transition: 1s;
}

.archive-container:hover {
  cursor: pointer;
  -webkit-transform: scale(1.6);
}

@keyframes animasi_panjang {
  0% {
    width: 100%;
  }
  50% {
    width: 110%;
  }
  100% {
    width: 120%;
  }
}
@keyframes animasi_be {
  0% {
    width: 30%;
  }
  25% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 52%;
  }
}
.bp {
  padding: 0.2em 2em;
  background-color: transparent;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff4a4a;
  color: #ff4a4a;
  transition: 1s;
}

.bp:hover {
  -webkit-transform: scale(1.1);
  color: #fff;
  background-color: #ff4a4a;
  animation: animasi_panjang 1s;
  margin-left: 1em;
  width: 120%;
}

.be {
  padding: 0.4em 2em;
  background-color: transparent;
  border-radius: 20px;
  background-color: #ffc001;
  color: #fff !important;
  width: 40%;
}

.be:hover {
  -webkit-transform: scale(1.1);
  color: #fff;
  background-color: #ffc001;
  animation: animasi_be 0.1s;
  width: 52%;
}

.table-gambar {
  width: 120px;
  height: 50px;
}

/*# sourceMappingURL=main.css.map */
