*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{

}
nav{
  background: #fff;
  height: 80px;
  width: 100%;
  position: absolute;
  font-family: 'Quicksand';
  position: fixed;
  z-index: 12;
  box-shadow: 0px -9px 24px;
}
label.logo{
  color: #0099ff;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bolder;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  transition: 0.7s;
}
li:hover{
  background:#fff;
  color: #7a52c9; 
}
li:hover a{
  color: #7a52c9; 
  transition: 0.7s;
}
nav ul li a{
  color: #0099ff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Quicksand';
  font-weight: bold;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.about-line{
  padding: 0.2em 2em;
  width: 20%;
  margin: auto;
  background-color: #ffffffd6;
  border-radius: 20px;
  animation: kebawah 0.7s;
}
.about{
  padding-top: 5.7em;
  background-color: #0099ff;
  color: #fff;
}
.about-image{
  background-image: url('images/gambarperpus2.jpg');
  background-size: cover;
  height:50vh;
  border-radius: 10px;
  animation: kebawah 0.7s;
}
.about-caption{
  padding:2em;

}
.about-title{
  padding: 0.3em;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 2em;
  animation: kebawah 2s;
}
.loginform-line{
  padding: 0.1em 2em;
  width: 10%;
  margin-left:33.4%;
  background-color: #9f98fc;
  border-radius: 20px;
  animation: kebawah 0.7s;
}
.registerform{
  padding-top: 0.7em;
  padding: 1em;
}
.loginform{
  padding-top: 5.7em;

}
.loginform-image{
  background-image: url('images/login.jpg');
  background-size: cover;
  height: 50vh;
  width: 100%;
  animation: kebawah 0.7s;
}
.loginform-title{
  padding: 0.3em;
  margin-left: 30%;
  font-family: 'Quicksand';
  font-size: 2em;
  animation: kebawah 2s;
}
.formregister-title{
  padding: 1em 0em 0.4em 0em;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 2em;
  animation: kebawah 2s;
}
.formregister-line{
    padding: 0.1em 2em;
  width: 10%;
 margin: auto;
  background-color: #FF416C;
  border-radius: 20px;
  animation: kebawah 0.7s;
}
/*.loginform-card{
  background-color: #F0F0F0;
  height: 75vh;
  border-radius: 20px;
  box-shadow: -5px 8px 24px -8px rgba(0,0,0,0.75);

}*/
.hero-section{
  padding-top: 2em;
}
.hero{
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('images/gambarperpus.jpg');
}
.hero-caption{
  position: absolute;
  top:15%;
  left: 28%;
  text-align: center;
  color: #fff;
  padding: 1em;
}
.hero-first-caption{
    font-family: 'Quicksand';
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}
.hero-second-caption{
      font-family: 'Quicksand';
  font-size: 2em;

  color: #fff;
}
.classy-blue{
    width: 80%;
    border-style: none;
    padding: 9px 9px;
    font-family: montserrat;
    font-size: 20px;
    background: linear-gradient(90deg, #5e52e5, #a19afc);
    border-radius: 33px;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgb(124 114 239);
    color: #fff;
    transition: 0.7s;
}
.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.66);
}
.user-level{
  font-size: 20px;
  padding: 0.6em;
  border-style: solid;
  border-color: #3f51b5;
  border-radius: 5px;
  box-shadow: 0px 6px 1px 1px #3F51B5;
  border-width: 1px;
  font-family: 'Quicksand';
  text-align: center;
  margin: 0.5em;
  font-weight: bold;
  color:#3f51b5;
}
.u-level-line{
  padding: 0.2em 2em;
  width: 20%;
  margin: auto;
  background-color: #0099ff;
  border-radius: 20px;
  animation: kebawah 0.7s;
}
.u-level{
  padding-top: 5.7em;

}
.u-level-image{
  background-image: url('images/gambarperpus3.jpg');
  background-size: cover;
  height:60vh;
  border-radius: 10px;
  animation: kebawah 0.7s;
  box-shadow: 0px 12px 24px rgba(0,0,0,0.44);
}
.u-level-caption{
  padding:2em;

}
.u-level-title{
  padding: 0.3em;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 2em;
  animation: kebawah 2s;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
.row{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.c1{
  grid-column: span 1;
}
.c2{
  grid-column: span 2;
}
.c3{
  grid-column: span 3;
}
.c4{
  grid-column: span 4;
}
.c5{
  grid-column: span 5;
}
.c6{
  grid-column: span 6;
}
.c7{
  grid-column: span 7;
}
.c12{
  grid-column: span 12;
}
.container {
  padding-right: 15px;
  padding-left: 7px;
  margin-right: auto;
  margin-left: auto;
}
.feature-header{
  padding: 2em;
}
.feature-header-title{
  font-family: 'Quicksand',sans-serif;
  font-size: 2.4em;
  padding-bottom: 0.2em;
  text-align: center;
  animation: kebawah 1s;
}

.feature-item{
    text-align: center;
    margin: 0.4em 1em;
    padding: 2em 0em;
/*
    border-width: 1px;
    border-radius: 15px;
    border-color: #673AB7;
    box-shadow: 0px 8px 31px -17px;*/
    animation: zoomdepan 1s;
}
.feature-icon{
  font-size: 5em;
  color: #0099ff;
  text-align: center;
}
.feature-title{
  font-family: 'Quicksand',sans-serif;
  padding: 1em;
  font-weight: 900;
  font-size: 1.3em;
  color: #0099ff;   
}
.feature-body{
  font-family: 'Quicksand',sans-serif;
 }
 .feature-card{
  padding: 1em;

 }
.feature-desc{
  font-family: 'Quicksand';
  text-align: center;
  font-size:0.9em;
}
/* Animasi */
  @keyframes kekanan{
    0%{
      margin-left: -5em;
    }
    50%{
      margin-left: 4em;
    }
    100%{
      margin-left: 0em;
    }
  }
  @keyframes zoomdepan{
    0%{
      font-size: -10em
    }
    50%{
      font-size: 0em;
    }
    100%{
      font-size: 1em;
    }
  }
  @keyframes kebawah{
    0%{
      margin-top: -4em;
    }
    50%{
      margin-top: 1em;
    }
    100%{
      margin-top: 0em;
    }
  }
/* Media */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media screen and (max-width: 768px) {
  .c1,.c2,.c3,.c4,.c5,.c6,.c7 {
    grid-column: span 12;
  }
  .c12 {
    grid-column: span 12;
  }
}
@media screen and (max-width: 480px) {
  .c6 {
    grid-column: span 12;
  }
  .c12 {
    grid-column: span 12;
  }
}
