// Box Shadow
$bs_normal : 0px 0px 5px;
$br_normal : 12px;


// Warna
$putih : #fff;
$biru : #4272d7;
$merah : #ff4a4a;
$emas : #ffc001;

// Posisi
$tengah : center;

// Ukuran Text
$text-s : 1em;
$text-m : 1.5em;
@mixin bs_solid(){
	box-shadow: 0px 12px 24px;
}
@mixin feature_card_flat() {
	border-radius: 12px;
	box-shadow: $bs_normal;
	border-left-style: solid;
	border-width: 6px;
	border-left-color: $biru;
	background-color: $putih;
	padding-bottom: 0.8em;
}
// Name modal
// Desc
// Return
@mixin modal() {
	padding: 1em;
	width: 90%;
}
// Name overlay
// Desc
// Return
@mixin overlay() {

	position: fixed;
	top: 0;
	z-index: 45;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: 	rgba(0,0,0,0.24);
}
// Name modal
// Desc
// Return
@mixin modal() {
	width: 70%;
	position: absolute;
	padding: 2em;
	border-radius: $br_normal;
	left:15%;
	top: 8%;
	color:#000;
	background-color: $putih;
}
@mixin center_all() {
	display: flex;
	justify-content:center;
	text-align: center;
}
@mixin tombol_rounded_s_o_merah() {
	padding: 0.2em 2em;
	background-color: transparent;
	border-radius: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: $merah;
	color:$merah; 
}
@mixin tombol_square_s_o_merah() {
	  padding: 0.2em 2em;
	  background-color: transparent;
	  border-radius: 6px;
	  border-style: solid;
	  border-width: 1px;
	  border-color: $merah;
	  color:$merah; 
}
@mixin tombol_rounded_s_s_merah() {
	padding: 0.2em 2em;
	background-color: transparent;
	border-radius: 20px;
	border-style: solid;
	border-width: 1px;
	background-color: $merah;
	color:$putih!important;
}
@mixin tombol_rounded_s_s_emas() {
	padding: 0.4em 2em;
	background-color: transparent;
	border-radius: 20px;
	background-color: $emas;
	color:$putih!important;
}
@mixin tombol_square_s_s_merah() {
	  padding: 0.2em 2em;
	  border-radius: 6px;
	  border-style: solid;
	  border-width: 1px;
	  background-color: $merah;
	  color:$putih!important; 
}
@mixin tombol_square_s_o_biru() {
	  padding: 0.2em 2em;
	  background-color: transparent;
	  border-radius: 6px;
	  border-style: solid;
	  border-width: 1px;
	  border-color: $biru;
	  color:$biru; 
}
@mixin item_grid() {
	padding: 5em 2em;
}

.feature-card-head{
	width: 100%;
	font-size: $text-m;
	text-align: $tengah;
}
.feature-card-body{
	text-align: $tengah;
}
.feature-card{
		@include feature_card_flat();
		

}
.feature-card-footer{
	border-radius: $br_normal; 
	width: 100%;
	height: 5%;
	color:red;
	padding: 0.5em;
	text-align: center;
	position: relative;

}
.item-grid{
	@include item_grid;
}
.welcome-content{
text-align: $tengah;
	padding-top: 2em;
}
.welcome-content-caption{

	font-size: $text-m;
}
.welcome-content-caption2{

	font-size: $text-s;
}
.btno-square-biru{
	@include tombol_square_s_o_biru();
}
.btno-square-merah{
	@include tombol_square_s_o_merah();
}
.btno-rounded-merah{
	@include tombol_rounded_s_o_merah();
}
.btns-square-biru{
	@include tombol_square_s_o_biru();
}
.btns-square-merah{
	@include tombol_square_s_s_merah();
}
.btns-rounded-merah{
	@include tombol_rounded_s_s_merah();
}

.btns-rounded-emas{
	@include tombol_rounded_s_s_emas();
}

.explore-item-img{
	width: 100%;
}
.modal-overlay{
	display: none;
	@include overlay();
}
.modal-body{
	@include modal();
}
.book-category-header{
	padding: 1em;
}
 .book-category{
    width: 100%;
    height: 90px;
    padding: 8.5px 2.5px;
    transition: 1s;
 }
 .book-category-inner{
 	position: relative;
    overflow: hidden;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.44);
 }
 .book-category-inner img{
 	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    position: absolute;
 }
.book-category-title{
    width: 100%;
    padding: 0 1em;
    height: 100%;
    background: linear-gradient(to right, #dc354561, #1422869e);
    position: absolute;
    z-index: 2;
}
.book-category-title-inner{
	  font-weight: 400;
      font-size: 1.3em;
      font-family: 'Montserrat',sans-serif;
      font-style: italic;
      line-height: 31px;
      color: #fff;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
}
.explore-title{
	padding: 1em;
	height: 13vh;
	color: #fff;
	font-style: italic;
	font-weight: 700;
}
.explore-card{
		@include feature_card_flat();
		min-height: 20em;
		background-color: #16283a;
		border-left-color: $emas;
}
@keyframes ganti{
	0%{
		color:#999;
	}
	100%{
		color:$emas;
	}
}

	.archive-container{
		bottom:0;
		right: 10%;
		color: #999;    
		font-size: 1.8em;
		transition:1s;
	}
	.archive-container:hover{
		cursor: pointer;
		-webkit-transform:scale(1.6);
	}
@keyframes animasi_panjang{
	0%{
		width: 100%;
	}
	50%{
		width: 110%;
	}
	100%{
		width: 120%;
	}
}
@keyframes animasi_be{
	0%{
		width: 30%;
	}
	25%{
		width: 40%;
	}
	50%{
		width: 50%;
	}
	100%{
		width: 52%;
	}
}
.bp{
	@include tombol_rounded_s_o_merah();
	transition:1s;


}
.bp:hover{
	-webkit-transform:scale(1.1);
	color:$putih;
	background-color: $merah;
	animation:animasi_panjang 1s;
	margin-left: 1em;
	width: 120%;
}
.be{
	@include tombol_rounded_s_s_emas();
	width: 40%;
}
.be:hover{
	-webkit-transform:scale(1.1);
	color:$putih;
	background-color: $emas;
	animation:animasi_be 0.1s;

	width: 52%;
}
.table-gambar{
	
	width: 120px;
	height: 50px;
}